<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Template</title>
</head>
<body>
    <ul>
        {{range .}}
            <li>{{.}}</li>
         {{end}}}
    </ul>
</body>
</html>