<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Predefined Global Functions Continuing</title>
</head>
<body>
    {{if gt .Score1 .Score2}}
            Score 1 > Score 2
    {{end}}

    {{if lt .Score1 .Score2}}
            Score 1 < Score 2
    {{end}}

    {{if eq .Score1 .Score2}}
            Score 1 = Score 2
    {{end}}

    {{if lt .Score1 10}}
            lastOne: Score1 < 10
    {{end}}
</body>
</html>