<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Predefined Global Functions</title>
</head>
<body>
{{index .Words 0}}
{{index .Words 1}}
{{index .Words 2}}
{{.Lname}}
</body>
</html>