<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Struct Template</title>
</head>
<body>
    <ul>
        {{$firstName := .First}}
        {{$lastName := .Last}}
        <li>{{$firstName}} - {{$lastName}}</li>
    </ul>
</body>
</html>