<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Header Menu </title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    {{template "svgs"}}
    {{template "header"}}
    <div id="atf">
        <main>
            <svg class="icon icon-big-in">
                <use xlink:href="#inbox"></use>
            </svg>
            <h1>Are U In ?</h1>
        </main>
    </div>
    {{template "btf"}}
</body>
</html>